 
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .learning {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #features, #benefits {
    text-align: left;
  }

  img {
    border-radius: 5px;
    box-shadow: 10px 10px 0 #2980b9, 20px 20px 0 #1c5985;
  }

  @media screen and (max-width: 768px) {
    .learning {
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      padding: 20px;
      gap: 20px;
    }

  }