@media screen and (min-width: 768px) {

    /* Header */
    header {
        flex-direction: row; /* Cambia la dirección a fila en pantallas grandes */
        justify-content: space-between; /* Centra horizontalmente */
        align-items: center; /* Alinea verticalmente */
    }

    /* Main */
    main {
        max-width: 900px; /* Ajuste en el ancho del contenedor en pantallas grandes */
        text-align: center;
    }

    /* #temple-gallery: 3 columnas en pantallas grandes */
    #temple-gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
        gap: 1rem;
    }

    /* Hide menu toggle button in larger views */
    #menu-toggle {
        display: none; /* Oculta el botón de menú en pantallas grandes */
    }

    /* Show the navigation menu in larger views */
    #menu {
        display: flex;
        flex-direction: row; /* Muestra el menú en fila */
        justify-content: center;
        gap: 1rem;
    }

    #menu li {
        list-style: none;
    }

    #menu a:hover {
        background-color: #ddd;
        border-radius: 5px;
    }
}
