@media screen and (min-width: 768px) {

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 600px;
    text-align: center;
}

/* Hide menu toggle button in larger views */
#menu-toggle {
    display: none;
}

/* Show the navigation menu in larger views */
#menu {
    display: flex !important; /* Override the 'hidden' class applied in mobile */
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#menu li {
    list-style: none;
}

#menu a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

#temple-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
}